VITE_API_BASE=https://innovation.runasp.net
# The signed-in user: balance, funding and transfers all use this id
VITE_USER_ID=a0152571-4056-474c-89d3-e5758a9965ef
# Transfer beneficiary
VITE_BENEFICIARY_ID=a2481efe-5b07-4a54-a5b9-0de4c18a31e7
# Pre-fills the email on the Fund sheet (still editable)
VITE_USER_EMAIL=leonardizuchukwu3@gmail.com
